.LoginContainer {
    width: 100%;
    margin-top: 2rem;

}

/* main  */

.LoginContainer {
    padding: 2rem .2rem;
    width: 100%;
    /* min-height: 98vh; */
    background: var(--bgthteme);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.greetBtnGroup {
    width: 95%;
    border-radius: .3rem;
    height: 4rem;
}


.greetBtnGroup button {
    width: 50%;
    height: 100%;
    background: var(--white);
    border-radius: .3rem;
    color: var(--grayd);
}

.greetBtnGroup button span {
    min-height: 0.5rem;
}

.greetBtnGroup button span:nth-child(1) {
    font-size: 2rem;
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    padding-top: .2rem;
}

.greetBtnGroup button span:nth-child(2) {
    font-size: .9rem;
    font-weight: 500;
}

.UserContainer {
    width: 95%;
    min-height: 3rem;
    padding: 2rem .6rem 1rem .6rem;
    color: var(--grayd);

}


.UserContainer label:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.UserContainer label:nth-child(1) svg {
    font-size: 1.6rem;

}

.UserContainer label:nth-child(1) span {
    font-size: 0.9rem;
    display: flex;
    align-items: flex-end;
    font-weight: 600;
}


.UserContainer input {
    margin-top: .4rem;
    width: 100%;
    height: 2.4rem;
    padding: .3rem .6rem;
    border-radius: .4rem;
    background: var(--white);
}


.formCony {
    margin-top: .3rem;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding: 0;
}

.fromInput {
    width: 1rem !important;
    height: 1.2rem !important;
    padding: 0;
    margin: 0;
}

.labelForm {
    display: flex;
    align-items: flex-end;
    font-size: .9rem !important;
    height: 100%;
}

.PenButton {
    width: 90%;
    height: 2.6rem;
    margin-top: 0;
    border-radius: .4rem;
    font-weight: 500;
    background: var(--radGrad);
    color: var(--white);
}



.CountryCodeInputContainer {
    width: 24% !important;
    height: 100%;
    background: var(--white);
    margin: 0 !important;
    border-radius: .4rem !important;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;

}



.CountryCodeInput {
    width: 95%;
    height: 100%;
    background: var(--white);
}


.CountryCodeInput i {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




@media screen and (max-width:572px) {
    .inpuytioo {
        height: 3rem !important;
    }


    .PenButton {
        width: 90%;
        height: 2.5rem;
        font-weight: 600;

    }

}


.formCony input {
    border: 0.12rem solid var(--gray) !important;
    border-radius: 50% !important;
    width: .8rem !important;
    height: 1rem !important;
}




.UserContainer label i {
    display: flex;
    align-items: center;
    color: var(--redish);
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
    /* background: red; */
}



.grayi {
    color: var(--stext);
    font-size: 0.8rem;
}


.PhoneContainer {
    margin-top: .4rem;
    width: 100%;
    height: 2.5rem;
    /* padding: .3rem .6rem; */
    border-radius: .4rem;
    background: var(--pale);
    display: flex;
    justify-content: space-between;
}


.PhoneNumberInput {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    font-size: 0.9rem;
}



.labeli {
    font-size: 0.8rem !important;
    font-weight: 600 !important;
}


.CountryCodeInput i {
    font-size: 1.1rem;
}